html, body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  display: block;
  margin: auto;
  width: 640px;
  height: 400px;
  image-rendering: pixelated;
}

#overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0,0,0,0.9);
  cursor: pointer;
}
