html, body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
  color: white;
}

canvas {
  display: block;
  image-rendering: pixelated;
  width: 640px;
  height: 400px;
  margin: auto;
}

#hint {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}
